{% extends 'layout.html.twig' %}

{% block content %}
<h1>Liste des posts</h1>
<main class="container">
    <div class="row">
			{% for post in posts %}

				<div class="theme col-xs-12 col-sm-4">

					<a class="liens" href="/post/show?id={{ post.id }}">
						<div class="text-theme">
							<h2 class="h2-theme">{{ post.subject }}</h2>
						</div>
					</a>
					<div class="row detail-theme">
						<div class="sujets col">
							<p>{{ post.numberMessage }}
								messages actuels</p>
						</div>
						<div class="actu col">
							<p>dernière actualité le {{ post.lastModify|date("d/m/Y") }}
							</p>
						</div>
					</div>

				</div>

			{% endfor %}
    </div>
{% endblock %}
