{% extends 'layout.html.twig' %}

{% block content %}
<h1>Liste des posts</h1>
<main class="container">
    <div class="row">
        {% for post in posts %}
            <table class="table table-secondary table-striped"><thead><th><a href="/posts/show?id={{ post.id }}">{{ post.id }}. {{ post.subject }}</a></th></thead></table>
        {% else %}
            <div class="row">Nothing to display</div>
        {% endfor %}
    </div>
    <a class="btn btn-outline-secondary" href="/posts/add">Ajouter un nouveau post</a>
{% endblock %}
