<header class="p-3 mb-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li>
					<a href="#" class="nav-link px-2 link-secondary">Home</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 link-dark">Langages</a>
				</li>
				<li>
					<a href="#" class="nav-link px-2 link-dark">Thèmes</a>
				</li>
			</ul>

			<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/posts/search" method='POST'>
				<div>
					<input type="search" id="maRecherche" name="maRecherche" placeholder="Rechercher un post…" aria-label="Rechercher parmi le contenu du site" onKeyUp="check(this)" onChange="check(this)">
					<datalist id="maRecherche">
						{% for search in searchs %}
							<option value="{{ search.word }}">
						{% endfor %}
					</datalist>
					<button>Rechercher</button>
				</div>
			</form>

			<div class="text-end">
				<a href="#" class="nav-link px-2 link-dark">Se connecter</a>
			</div>
		</div>
	</div>
</header>
