{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container">
		<h1>Bienvenu sur le forum DevelopLyon !</h1>

		<div class="listCategory row">
		
			{% for category in categorys %}

				<div class="category col-xs-12 col-sm-4">

					<a href="themes/index?id={{ category.id }}">
					<img class="img-category img-fluid img-thumbnail" src="assets/images/{{ category.picture_link }}" alt="image{{ category.name }}">
					</a>
					<div class="text">
						<h2 class="h2-category">{{ category.name }}</h2>
					</div>
				</div>


			{% endfor %}
		
		</div>


	</div>

{% endblock %}
