h1 {
    text-align: center;
    padding: 20px;
}
header {
    background-color: #ACAAF4;
}

.user {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border : 3px solid lightgrey;
}
.user a {
    text-decoration: none;
    color: black;
}

.btn-primary {
    background-color : #ACAAF4;
    border-color: #ACAAF4;
}