<form method="post">
	<input type="hidden" value="{{ user.id }}" name="id">
	<input type="text" value="{{ user.nickname }}" name="nickname">
    <input type="text" value="{{ user.email }}" name="email">
    <input type="text" value="{{ user.password }}" name="password">
	<input type="submit" value="Sauvegarder les modifications">
</form>