{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}Inscription
{% endblock %}

{% block content %}

	<h1 class="display-6">Se créer un compte</h1>

		<form method="post">
			<div class="container">
				<label for="nickname">Identifiant :</label>
				<input type="text" name="nickname" class="form-control mb-3" placeholder="Nom d'utilisateur">
			</div>

			<div class="container">
				<label for="email">Email :</label>
				<input type="email" name="email" class="form-control mb-3" placeholder="exemple@gmail.com">
			</div>

			<div class="container">
				<label for="password">Mot de passe :</label>
				<input type="password" name="password" class="form-control mb-3" placeholder="Mot de passe">
			</div>
			<div>
				{{errors}}
			</div>
			<div class="container d-flex flex-column align-items-center">
				<input type="submit" value="S'inscrire" class="btn btn-primary mb-2">
			</div>
		</form>



{% endblock %}
