{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Modification du profil</h1>
    {% include 'User/_profile.html.twig' %}
    <a href="/user/show?id={{ item.id}}">Retour</a>

{% endblock %}