{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}}Modification du profil
{% endblock %}

{% block content %}
    <h1>Modification du profil</h1>
    {% include 'User/_profile.html.twig' %}
{% endblock %}