{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Themes</h1>
    <ul>
        {% for theme in themes %}
            <li><a href="/themes/show?id={{ theme.id }}">{{ theme.id }}. {{ theme.name }}.{{ theme.category_id }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/themes/add">Ajouter</a>
{% endblock %}
